#colorBack {
	position: relative;
	top: 50px;
	
}
.container {
	background-color: grey;
	width: 100%;
	max-width: 512px;
	height: 160px;
	/*margin-left: 25%;
	margin-right: 25%;
	margin-top: 30px;*/
	margin: 90px 0px 0px 0px;
	text-align: center;
	border-radius: 20px 20px 0px 0px;
	color: white;
	font-family: 'Bungee', cursive;
	font-size: 34px;
	border: none;


}
.container button {
	width: 100px;
	height: 30px;
	text-decoration: none;
	background-color: white;
	position: relative;
	bottom: 30px;
}
.container input {
	width: 100px;
	height: 20px;
	position: relative;
	bottom: 30px;
}
.centered {
	width: 60%;
	max-width: 512px;
	margin:auto;
	background-color: black;
}
#myProgress {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: white;
    z-index: 1;
    bottom: 30px;
}
#myBar {
    position: absolute;
    width: 1%;
    height: 100%;
    background-color: red;
    z-index: 2;
}
#sammy {
	/*display: none;*/
	display: none;
	position: relative;
	bottom: 100px;
	right: 40px;
	z-index: 2;

}
#you-win{
	/*visibility: hidden;*/
	z-index: 5;
	position: relative;
	bottom: 80px;
	right: 14px;
	visibility: hidden;

}

#button1 {
	visibility: visible;
}

#button2 {
	visibility: visible;
}

#button3 {
	visibility: visible;
}

#button4 {
	visibility: visible;
}

#game-title {
	visibility: visible;
}


